.Button {
  padding: 10px 20px;
  background: var(--color-highlight);
  color: var(--text-dark);
  border: none;
  border-radius: 3px;
  box-shadow: 0 4px 10px var(--grey-shadow);
  transition: all 0.5s;
  margin: 10px;
}
