.Navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  background-color: var(--color-primary);
  transition: all 0.5s;
  box-shadow: 0 -4px 10px var(--grey-shadow);
}

.Navigation > img {
  height: 75%;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}
