.Navigation {
  display: grid;
  justify-items: stretch;
  align-items: center;
  gap: 1px;
  grid-template-columns: repeat(4, 1fr);
  height: 48px;
  background-color: var(--color-primary);
  border-radius: 5px;
  margin: 0 10px;
  transition: all 0.5s;
}

.Navigation > img {
  height: 75%;
  cursor: pointer;
  margin: 15px;
  padding: 5px;
  border-radius: 5px;
}
