.Header {
  text-align: center;
  box-shadow: 0 4px 10px var(--grey-shadow);
  z-index: 1;
}

.Header__title {
  background-color: var(--color-primary);
  color: var(--text-white);
  padding-top: 8px;
  margin: 0;
  transition: all 0.5s;
}
