.header {
  text-align: center;
  border: 1px solid cornflowerblue;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.header__title {
  background-color: cornflowerblue;
  color: white;
  padding-top: 8px;
  margin: 0;
}

.header__subtitle {
  display: block;
  font-size: 50%;
  background-color: white;
  color: cornflowerblue;
  padding: 8px;
}
