/* The switch - the box around the slider */
.Togglebutton {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.Togglebutton input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.Togglebutton__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-toggleout);
  transition: 0.4s;
}

.Togglebutton__slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-togglein);
  transition: 0.4s;
}

input:checked + .Togglebutton__slider {
  background-color: var(--color-toggleout);
}

input:focus + .Togglebutton__slider {
  box-shadow: 0 0 1px var(--color-togglein);
}

input:checked + .Togglebutton__slider:before {
  transform: translateX(26px);
}
